<!DOCTYPE html>
<html lang="en">
<head>
  <title>MakersBnB</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="/skeleton.css">
  <link rel="stylesheet" href="/normalize.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <img  src="/logo.png" style="display:block;margin-left:auto; margin-right: auto;">
    </div>
    
    <div class="row">
    </div>
    
    <div class="row">
      <div class="twelve columns" style="text-align: center">
        
        <h1>Welcome, <%= @user.name %></h1>
        
        <a class="button button-primary" href="/add_space">Add a Space</a>
        <a class="button button-primary" href="/spaces">Browse</a>
        <a class="button button-primary" href="/logout">Logout</a>
        <h2>Your Trips</h2>
        
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Booked Date</th>
              <th>Status</th>
              <th>View</th>
            </tr>
          </thead>
          <tbody>
            <% if @bookings %>
              <% @bookings.each do |booking| %>
                <tr>
                  <td><%= @space_repo.find_by_id(booking.space_id).name %></td>
                  <td><%= @space_repo.find_by_id(booking.space_id).description %></td>
                  <td><%= booking.booked_from %></td>
                  <td><%= booking.status.capitalize %></td>
                  <td><a href="/spaces/<%= booking.space_id%>">View space</a></td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td>No bookings found</td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
        <h2>Your Active Listings</h2>
        
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Date</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% if @listings %>
              <% @listings.each do |listing| %>
                <tr>
                  <td><%= @space_repo.find_by_id(listing.space_id).name %></td>
                  
                  <% if @space_repo.find_by_id(listing.space_id).description.length > 30 %>
                    <td><%= @space_repo.find_by_id(listing.space_id).description[0,30] + '...' %></td>
                  <% else %>
                    <td><%= @space_repo.find_by_id(listing.space_id).description %></td>
                  <% end %>
                  <td><%= listing.booked_from %></td>
                  <td><%= listing.status %></td>
                  <td>
                    <% if listing.status == 'confirmed' %>
                      <form action="/cancel_booking/<%= listing.id%>" method="POST">
                      <input type="submit" value='Cancel' />
                      </form>
                    <% elsif listing.status == 'pending' %>  
                    <form action="/approve_booking" method="POST">
                    <input type="submit" value='Approve' />
                    </form>
                    <form action="/cancel_booking/<%= listing.id%>" method="POST">
                    <input type="submit" value='Cancel' />
                    </form>
                    <% else %>
                    
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td>No listings found</td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
        <h2>Your Spaces</h2>
        
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Available From</th>
              <th>Available To</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            <% if @spaces %>
              <% @spaces.each do |space| %>
                <tr>
                  <td><%= space.name %></td>
                  <% if space.description.length > 30 %>
                    <td><%= space.description[0,30] + '...' %></td>
                  <% else %>
                    <td><%= space.description %></td>
                  <% end %>
                  <td><%= space.start_date %></td>
                  <td><%= space.end_date %></td>
                  <td><a href="/spaces/<%= space.id%>">View space</a></td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td>No spaces found</td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
</body>
</html>
