<!DOCTYPE html>
<html lang="en">
<head>
  <title>MakersBnB</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="/skeleton.css">
  <link rel="stylesheet" href="/normalize.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <img  src="/logo.png" style="display:block;margin-left:auto; margin-right: auto;">
    </div>
    
    <div class="row">
      <div class="twelve columns"  style="text-align: center;">
        <% if session[:user_id] == nil %>
        <a class="button button-primary" href="/signup">Signup</a>
        <a class="button button-primary" href="/login">Login</a>
        <% else %>
        <a class="button button-primary" href="/dashboard">Dashboard</a>
        <a class="button button-primary" href="/logout">Logout</a>
        <% end %>
      </div>
    </div>
    
    <div class="row">
      <div class="twelve columns" style="text-align: center">
        <h1><%= @space.name.capitalize %></h1>
        <h5><%= @space.description %></h5>
        <p>£<%= @space.price_night.round(0) %>/night</p>
        
        <table class="u-full-width">
          <thead>
            <tr>
              <th style="text-align:center">Available From</th>
              <th style="text-align:center">Available Until</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align:center"><%= @space.start_date.strftime("%b %-d, %Y") %></td>
              <td style="text-align:center"><%= @space.end_date.strftime("%b %-d, %Y") %></td>
              <form action="/spaces/<%= @space.id %>" method="POST">
              <label> Choose Date: </label>
               <input type="date" name="date" min=<%= @space.start_date %> max=<%= @space.end_date %> />

              <input type="submit" value="Book Space" style="margin: 15px"/>
              </form>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
</body>
</html>